<p id="notice"><%= notice %></p>

<p>
  <b>email:</b>
  <%= @user.email %>
</p>

<p>
<%= render :partial => "departments_member",
           :locals => { :user => @user } %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
