<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @department.name %>
</p>

<p>
  <b>Manager:</b>
  <%= @department.manager.email %>
</p>

<p>
  <b>Deputy:</b>
  <%= @department.deputy.email %>
</p>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
