<p>Submission for <b><%= @submission.submitter.email %></b> for the month of <%= h @date.strftime("%B %Y") %> for <b><%= workhours_in_submission(@submission) %> hours</b></p>

<%= button_to 'Accept', submission_path(@submission), :method => :put %>
<%= button_to 'Reject', @submission, method: :delete %> 


<div id="calendar">
  <h2 id="month">  
    <%= h @date.strftime("%B %Y") %>  
  </h2>

  <%= calendar_for @workdays, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <%= calendar.day(:day_method => :working_date) do |date, workdays| %>
      <%= date.day %>
      <ul>
        <% for workday in workdays %>
          <li><%= workday.working_hours %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to 'Go to Submissions', submissions_path %>
