<p id="notice"><%= notice %></p>

<div id="calendar">
  <h2 id="month">  
    <%= h @date.strftime("%B %Y") %>  
  </h2>

  <%= calendar_for @workdays, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <%= calendar.day(:day_method => :working_date) do |date, workdays| %>
      <%= date.day %>
      <ul>
        <% for workday in workdays %>
          <li><%= link_to h(workday.user.email), workday %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
