
<%= render "workdays_navigation" %>

<div id="calendar">  
  <h2 id="month">  
    <%= link_to "<", :date_in_gui => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>  
    <%= h @date.strftime("%B %Y") %>  
    <%= link_to ">", :date_in_gui => (@date.end_of_month+1).strftime("%Y-%m-01") %>  
  </h2>

  <%= calendar_for @workdays, :year => @date.year, :month => @date.month do |calendar| %>  
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <%= calendar.day(:day_method => :working_date) do |date, workdays| %>  
      <%= date.day %>  
      <ul>  
        <% for workday in workdays %>  
          <% if (workday.submission_id.nil?) %>
            <li><u><%= best_in_place workday, :working_hours %></u></li>
          <% else %>
            <li><%= workday.working_hours %></li>
          <% end %>
        <% end %>  
      </ul> 
    <% end %>  
  <% end %>  
</div>  
