<table>
  <tr>
    <td>
      <h4>Workdays for <%= current_user.email %></h4>
    </td>
    <td>
      <h4>On <%= @date.strftime("%A, %d %B %Y") %>, hours for <%= h @date.strftime("%B %Y") %>: <%= @workhours_month %> </h4>
    </td>
  </tr>
</table>


<table>
  <tr>
    <td>
      <h4><%= link_to 'New Workday', new_workday_path %></h4>
    </td>
    <td>
      <h4><%= button_to 'Populate', :controller => 'workdays', :action => 'populate', :date_in_gui => @date.strftime("%Y-%m-01") %></h4>
    </td>
    <td>
      <h4><%= button_to 'Wipe', :controller => 'workdays', :action => 'wipe', :date_in_gui => @date.strftime("%Y-%m-01") %></h4>
    </td>
    <td>
      <h4><%= button_to 'Submit for approval', submissions_path(:date_in_gui => @date.strftime("%Y-%m-01")) %></h4>
    </td>
    <td>
      <h4> <%= link_to 'Submissions', submissions_path %> </h4>
    </td>
  </tr>
</table>


<div id="calendar">  
  <h2 id="month">  
    <%= link_to "<", :date_in_gui => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>  
    <%= h @date.strftime("%B %Y") %>  
    <%= link_to ">", :date_in_gui => (@date.end_of_month+1).strftime("%Y-%m-01") %>  
  </h2>

  <%= calendar_for @workdays, :year => @date.year, :month => @date.month do |calendar| %>  
    <%= calendar.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %>
    <%= calendar.day(:day_method => :working_date) do |date, workdays| %>  
      <%= date.day %>  
      <ul>  
        <% for workday in workdays %>  
          <% if (workday.submission_id.nil?) %>
            <li><%= link_to h(workday.working_hours), workday %></li>
          <% else %>
            <li><%= workday.working_hours %></li>
          <% end %>
        <% end %>  
      </ul> 
    <% end %>  
  <% end %>  
</div>  
