<h1>Birdseye partial report</h1>

<div id="calendar">
<table>
  <tr>
    <% @months.each do |month| %>
      <th><%= month %></th>
    <% end %>
  </tr>

    <tr>
      <td><%= user.email %></td>
      <% @months.compact.each do |month| %>
        <% @my = Date.today.year.to_s + "-" + month %>
        <% @dmy = Date.parse(@my).beginning_of_month %>
        <td>
          <% if @dmy > Date.today %>
          <%else %>
          <% @sdu = submission_date_user(user.id, @dmy) %>
          <% @ss = submission_status2(@sdu) %>
          <% @sh = submission_hours2(@sdu) %>
          <% @ahm = ah(user.id, @dmy) %>

          <%= @ss %>
          <br />
          wh/month: <%= @sh %>
          <br />
          Avg wh/week: <%= @ahm %> 
          <% end %>
        </td>
      <% end %>

    </tr>
</table>
</div>
