<h1>Birdseye report</h1>

<div id="calendar">
<table>

  <tr>
    <% @months.each do |month| %>
      <th><%= month %></th>
    <% end %>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <% @months.compact.each do |month| %>
        <% @my = Date.today.year.to_s + "-" + month %>
        <% @dmy = Date.parse(@my).beginning_of_month %>
        <td>
          <%= submission_status(user.id, @dmy) %>
        </td> 
      <% end %>
      
    </tr>
  <% end %>

</table>
</div>

<br />

<div id="calendar">
<%= table_for(@users) do |t| %>
  <%= t.head('', 'January', 'February', 'March') %>
  <%= t.body do |user| %>
    <%= t.r do %>
      <%= t.d(h(user.email)) %>
    <% end %>
  <% end %>
<% end %>
</div>
